.App {
  text-align: center;
}

.App-logo {
  background-color: transparent;
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* make all text white */
body {
  color: white;
}

.textField {
  background-color: #333333;
  color: white;
}

.sendButton {
  background-color: #333333;
  color: white;
}

.saveButton {
  background-color: #333333;
  color: white;
}

